<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipl data project</title>
</head>
<body>
    <h2><a href="/played"> Number of matches played</a></h2>
    <h2><a href="/won" >Number of matches won per team per year</a></h2>
    <h2><a href="/runs">Extra runs conceded  2016</a></h2>
    <h2><a href="/bowler">Top 10 economical bowlers 2015</a></h2>

    
</body>
</html>